openapi: 3.1.0
info:
  title: Movimento 7 API
  version: 0.1.0
  description: API versionada da plataforma Movimento 7.
servers:
  - url: https://movimento7.com.br/api/v1
    description: Produção via proxy same-origin
tags:
  - name: public
  - name: registrations
  - name: store
  - name: auctions
  - name: admin
  - name: health
paths:
  /health/live:
    get:
      tags: [health]
      operationId: getLiveness
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /site:
    get:
      tags: [public]
      operationId: getSite
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /editions/current:
    get:
      tags: [public]
      operationId: getCurrentEdition
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /categories:
    get:
      tags: [public]
      operationId: listCategories
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /registrations:
    post:
      tags: [registrations]
      operationId: createRegistration
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegistrationInput' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
  /profiles:
    get:
      tags: [public]
      operationId: listProfiles
      parameters:
        - name: q
          in: query
          schema: { type: string, maxLength: 80 }
        - name: city
          in: query
          schema: { type: string, maxLength: 120 }
        - name: category
          in: query
          schema: { type: string, maxLength: 100 }
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 12 }
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /profiles/{slug}:
    get:
      tags: [public]
      operationId: getProfile
      parameters: [{ $ref: '#/components/parameters/Slug' }]
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '404': { $ref: '#/components/responses/Error' }
  /profile-assets/{id}/file:
    get:
      tags: [public]
      operationId: getPublicProfileAssetFile
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Mídia ativa de um perfil publicado
          content:
            image/jpeg: { schema: { type: string, format: binary } }
            image/png: { schema: { type: string, format: binary } }
            image/webp: { schema: { type: string, format: binary } }
        '404': { $ref: '#/components/responses/Error' }
  /gallery:
    get:
      tags: [public]
      operationId: listGallery
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /media/gallery/{id}:
    get:
      tags: [public]
      operationId: getPublicGalleryMediaFile
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Mídia publicada da galeria
          content:
            image/jpeg: { schema: { type: string, format: binary } }
            image/png: { schema: { type: string, format: binary } }
            image/webp: { schema: { type: string, format: binary } }
        '404': { $ref: '#/components/responses/Error' }
  /partners:
    get:
      tags: [public]
      operationId: listPartners
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /contact:
    post:
      tags: [public]
      operationId: createContact
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ContactInput' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '422': { $ref: '#/components/responses/Error' }
  /products:
    get:
      tags: [store]
      operationId: listProducts
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /products/{slug}:
    get:
      tags: [store]
      operationId: getProduct
      parameters: [{ $ref: '#/components/parameters/Slug' }]
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '404': { $ref: '#/components/responses/Error' }
  /carts:
    post:
      tags: [store]
      operationId: createCart
      responses:
        '201': { $ref: '#/components/responses/Success' }
  /carts/items:
    put:
      tags: [store]
      operationId: putCartItem
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CartItemInput' }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '409': { $ref: '#/components/responses/Error' }
  /checkout:
    post:
      tags: [store]
      operationId: checkout
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /orders/{code}:
    get:
      tags: [store]
      operationId: getOrderStatus
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
        - name: token
          in: query
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '404': { $ref: '#/components/responses/Error' }
  /auction-lots:
    get:
      tags: [auctions]
      operationId: listAuctionLots
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /auction-lots/{slug}:
    get:
      tags: [auctions]
      operationId: getAuctionLot
      parameters: [{ $ref: '#/components/parameters/Slug' }]
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /auction-lots/{id}/bids:
    post:
      tags: [auctions]
      operationId: createBid
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/auth/login:
    post:
      tags: [admin]
      operationId: adminLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '401': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
  /admin/auth/logout:
    post:
      tags: [admin]
      operationId: adminLogout
      parameters: [{ $ref: '#/components/parameters/CsrfToken' }]
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /admin/auth/session:
    get:
      tags: [admin]
      operationId: getAdminSession
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '401': { $ref: '#/components/responses/Error' }
  /admin/auth/change-password:
    post:
      tags: [admin]
      operationId: changeAdminPassword
      parameters: [{ $ref: '#/components/parameters/CsrfToken' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password: { type: string, format: password }
                new_password:
                  type: string
                  format: password
                  minLength: 12
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/auth/password-reset/request:
    post:
      tags: [admin-auth]
      operationId: requestAdminPasswordReset
      summary: Solicita recuperação sem revelar se a conta existe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email, maxLength: 180 }
      responses:
        '202': { $ref: '#/components/responses/Success' }
        '429': { $ref: '#/components/responses/Error' }
  /admin/auth/password-reset/confirm:
    post:
      tags: [admin-auth]
      operationId: confirmAdminPasswordReset
      summary: Redefine a senha com token de uso único
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password, password_confirmation]
              properties:
                token: { type: string, minLength: 20, maxLength: 200 }
                new_password: { type: string, minLength: 12, maxLength: 256 }
                password_confirmation: { type: string, minLength: 12, maxLength: 256 }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
  /admin/dashboard:
    get:
      tags: [admin]
      operationId: getAdminDashboard
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
  /admin/editions:
    get:
      tags: [admin]
      operationId: listAdminEditions
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
    post:
      tags: [admin]
      operationId: createAdminEdition
      parameters: [{ $ref: '#/components/parameters/CsrfToken' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminEditionInput' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/editions/{id}:
    patch:
      tags: [admin]
      operationId: updateAdminEdition
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminEditionInput' }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/editions/{id}/status:
    patch:
      tags: [admin]
      operationId: updateAdminEditionStatus
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [draft, published, closed, archived] }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/contacts:
    get:
      tags: [admin]
      operationId: listAdminContacts
      summary: Lista a caixa de entrada de contatos com filtros operacionais
      parameters:
        - name: q
          in: query
          schema: { type: string, maxLength: 100 }
        - name: status
          in: query
          schema: { type: string, enum: [received, in_progress, resolved, archived] }
        - name: assigned_to_id
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, minimum: 1 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
  /admin/contacts/{id}:
    get:
      tags: [admin]
      operationId: getAdminContact
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /admin/contacts/{id}/triage:
    patch:
      tags: [admin]
      operationId: updateAdminContactTriage
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminContactTriageInput' }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/contacts/{id}/notes:
    post:
      tags: [admin]
      operationId: createAdminContactNote
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminContactNoteInput' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/contacts/{id}/reply:
    post:
      tags: [admin]
      operationId: replyAdminContact
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminContactReplyInput' }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/registrations:
    get:
      tags: [admin]
      operationId: listAdminRegistrations
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /admin/registrations/{id}:
    get:
      tags: [admin]
      operationId: getAdminRegistration
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /admin/registrations/{id}/status:
    patch:
      tags: [admin]
      operationId: updateRegistrationStatus
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
  /admin/registrations/{id}/triage:
    patch:
      tags: [admin]
      operationId: updateRegistrationTriage
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/registrations/{id}/notes:
    post:
      tags: [admin]
      operationId: createRegistrationNote
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/registrations/{id}/profile:
    post:
      tags: [admin]
      operationId: createProfileFromRegistration
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/registration-files/{id}:
    get:
      tags: [admin]
      operationId: getAdminRegistrationFile
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Arquivo enviado na inscrição
          content:
            image/jpeg: { schema: { type: string, format: binary } }
            image/png: { schema: { type: string, format: binary } }
            image/webp: { schema: { type: string, format: binary } }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /admin/profiles:
    get:
      tags: [admin]
      operationId: listAdminProfiles
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [draft, published, archived] }
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
  /admin/profiles/{id}:
    get:
      tags: [admin]
      operationId: getAdminProfile
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
    patch:
      tags: [admin]
      operationId: updateAdminProfile
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminProfileInput' }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/profiles/{id}/status:
    patch:
      tags: [admin]
      operationId: updateAdminProfileStatus
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [draft, published, archived] }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/profiles/{id}/assets:
    post:
      tags: [admin]
      operationId: createAdminProfileAsset
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, alt_text]
              properties:
                file: { type: string, format: binary }
                alt_text: { type: string, minLength: 3, maxLength: 180 }
                credit: { type: string, maxLength: 180 }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/profiles/{id}/assets/order:
    patch:
      tags: [admin]
      operationId: reorderAdminProfileAssets
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset_ids]
              properties:
                asset_ids:
                  type: array
                  maxItems: 30
                  items: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/profile-assets/{id}:
    patch:
      tags: [admin]
      operationId: updateAdminProfileAsset
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminProfileAssetInput' }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
    delete:
      tags: [admin]
      operationId: deleteAdminProfileAsset
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /admin/profile-assets/{id}/cover:
    post:
      tags: [admin]
      operationId: setAdminProfileAssetCover
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /admin/profile-assets/{id}/file:
    get:
      tags: [admin]
      operationId: getAdminProfileAssetFile
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Mídia do portfólio protegida pela sessão administrativa
          content:
            image/jpeg: { schema: { type: string, format: binary } }
            image/png: { schema: { type: string, format: binary } }
            image/webp: { schema: { type: string, format: binary } }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /admin/communications:
    get:
      tags: [admin]
      operationId: getAdminCommunications
      summary: Consulta configuração segura e histórico recente de comunicação
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
  /admin/communications/test:
    post:
      tags: [admin]
      operationId: testAdminEmailConfiguration
      summary: Executa um envio controlado para validar o SMTP
      parameters:
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminEmailTestInput' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/Error' }
  /admin/auction-lots:
    get:
      tags: [admin]
      operationId: listAdminAuctionLots
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
    post:
      tags: [admin]
      operationId: createAdminAuctionLot
      parameters: [{ $ref: '#/components/parameters/CsrfToken' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminAuctionLotInput' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/auction-lots/{id}/status:
    patch:
      tags: [admin]
      operationId: updateAdminAuctionLotStatus
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [draft, published, open, closed, cancelled, archived] }
                reason: { type: string, maxLength: 500 }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/users:
    get:
      tags: [admin]
      operationId: listAdminUsers
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
    post:
      tags: [admin]
      operationId: createAdminUser
      parameters: [{ $ref: '#/components/parameters/CsrfToken' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminUserInput' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/privacy/requests:
    get:
      tags: [admin]
      operationId: listAdminPrivacyRequests
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
  /admin/privacy/requests/{id}/status:
    patch:
      tags: [admin]
      operationId: updateAdminPrivacyRequestStatus
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [received, in_review, resolved, rejected] }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/gallery/albums:
    get:
      tags: [admin]
      operationId: listAdminGalleryAlbums
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
    post:
      tags: [admin]
      operationId: createAdminGalleryAlbum
      parameters: [{ $ref: '#/components/parameters/CsrfToken' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminGalleryAlbumInput' }
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/gallery/albums/{id}/status:
    patch:
      tags: [admin]
      operationId: updateAdminGalleryAlbumStatus
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [draft, published, archived] }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/gallery/albums/{id}/media:
    get:
      tags: [admin]
      operationId: listAdminGalleryMedia
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /admin/gallery/albums/{id}/media/upload:
    post:
      tags: [admin]
      operationId: uploadAdminGalleryMedia
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AdminGalleryMediaUpload'
      responses:
        '201': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/gallery/media/{id}/status:
    patch:
      tags: [admin]
      operationId: updateAdminGalleryMediaStatus
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/CsrfToken' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [draft, published, archived] }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/gallery/order:
    patch:
      tags: [admin]
      operationId: reorderAdminGalleryMedia
      parameters: [{ $ref: '#/components/parameters/CsrfToken' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  maxItems: 200
                  items: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
components:
  parameters:
    Slug:
      name: slug
      in: path
      required: true
      schema: { type: string, pattern: '^[a-z0-9-]+$' }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, minLength: 8, maxLength: 100 }
    CsrfToken:
      name: X-CSRF-Token
      in: header
      required: true
      schema: { type: string }
  schemas:
    Envelope:
      type: object
      required: [data, meta, error, request_id]
      properties:
        data: {}
        meta: { type: object, additionalProperties: true }
        error:
          oneOf: [{ type: 'null' }, { $ref: '#/components/schemas/ApiError' }]
        request_id: { type: [string, 'null'] }
    ApiError:
      type: object
      required: [code, message, fields]
      properties:
        code: { type: string }
        message: { type: string }
        fields:
          type: object
          additionalProperties:
            type: array
            items: { type: string }
    RegistrationInput:
      type: object
      required: [full_name, email, phone, city, category, presentation, privacy_accepted, privacy_version]
      properties:
        full_name: { type: string, maxLength: 140 }
        professional_name: { type: string, maxLength: 140 }
        email: { type: string, format: email, maxLength: 180 }
        phone: { type: string }
        instagram: { type: string }
        city: { type: string, maxLength: 120 }
        category: { type: string }
        presentation: { type: string, maxLength: 3000 }
        portfolio_url: { type: string, format: uri }
        privacy_accepted: { type: boolean, const: true }
        privacy_version: { type: string }
        fax_number_for_bots: { type: string, description: Honeypot; deve permanecer vazio. }
    ContactInput:
      type: object
      required: [name, email, subject, message, privacy_accepted, privacy_version]
      properties:
        name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        subject: { type: string }
        message: { type: string }
        privacy_accepted: { type: boolean, const: true }
        privacy_version: { type: string }
        fax_number_for_bots: { type: string, description: Honeypot; deve permanecer vazio. }
    CartItemInput:
      type: object
      required: [cart_token, variant_id, quantity]
      properties:
        cart_token: { type: string }
        variant_id: { type: string, format: uuid }
        quantity: { type: integer, minimum: 0, maximum: 10 }
    AdminProfileInput:
      type: object
      properties:
        display_name: { type: string, minLength: 2, maxLength: 140 }
        slug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$', maxLength: 180 }
        bio: { type: string, maxLength: 5000 }
        city: { type: [string, 'null'], maxLength: 120 }
        instagram: { type: [string, 'null'], maxLength: 30 }
        featured: { type: boolean }
        category_ids:
          type: array
          items: { type: string, format: uuid }
    AdminProfileAssetInput:
      type: object
      properties:
        alt_text: { type: string, maxLength: 180 }
        credit: { type: [string, 'null'], maxLength: 180 }
        display_order: { type: integer, minimum: 0 }
        active: { type: boolean }
    AdminEmailTestInput:
      type: object
      required: [idempotency_key]
      properties:
        recipient: { type: string, format: email, maxLength: 180 }
        idempotency_key: { type: string, minLength: 8, maxLength: 100 }
    AdminAuctionLotInput:
      type: object
      required: [title, artist_name, starting_bid_cents, minimum_increment_cents]
      properties:
        title: { type: string, minLength: 1, maxLength: 180 }
        slug: { type: string, maxLength: 160 }
        artist_name: { type: string, minLength: 1, maxLength: 140 }
        starting_bid_cents: { type: integer, minimum: 0 }
        minimum_increment_cents: { type: integer, minimum: 1 }
        technique: { type: string, maxLength: 140 }
        dimensions: { type: string, maxLength: 120 }
        description: { type: string }
        rules: { type: string }
    AdminUserInput:
      type: object
      required: [email, name, password, roles]
      properties:
        email: { type: string, format: email, maxLength: 180 }
        name: { type: string, minLength: 1, maxLength: 140 }
        password: { type: string, format: password, minLength: 12 }
        roles:
          type: array
          items: { type: string }
    AdminGalleryAlbumInput:
      type: object
      required: [title]
      properties:
        title: { type: string, minLength: 2, maxLength: 180 }
        slug: { type: string, maxLength: 160 }
        description: { type: string }
    AdminGalleryMediaUpload:
      type: object
      required: [file, title, category, alt_text]
      properties:
        file: { type: string, format: binary }
        title: { type: string, maxLength: 180 }
        category: { type: string, maxLength: 60 }
        alt_text: { type: string, maxLength: 180 }
        caption: { type: string, maxLength: 600 }
        credit: { type: string, maxLength: 180 }
    AdminContactTriageInput:
      type: object
      properties:
        status: { type: string, enum: [received, in_progress, resolved, archived] }
        assigned_to_id: { type: [string, 'null'], format: uuid }
        reason: { type: string, minLength: 3, maxLength: 500 }
    AdminContactNoteInput:
      type: object
      required: [body]
      properties:
        body: { type: string, minLength: 3, maxLength: 2000 }
    AdminContactReplyInput:
      type: object
      required: [subject, message, idempotency_key]
      properties:
        subject: { type: string, minLength: 3, maxLength: 180 }
        message: { type: string, minLength: 3, maxLength: 5000 }
        idempotency_key: { type: string, minLength: 8, maxLength: 100 }
    AdminEditionInput:
      type: object
      required: [name, slug, starts_at, ends_at, registration_opens_at, registration_closes_at]
      properties:
        name: { type: string, minLength: 2, maxLength: 140 }
        slug: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$', maxLength: 160 }
        description: { type: [string, 'null'], maxLength: 5000 }
        starts_at: { type: [string, 'null'], format: date-time }
        ends_at: { type: [string, 'null'], format: date-time }
        registration_opens_at: { type: [string, 'null'], format: date-time }
        registration_closes_at: { type: [string, 'null'], format: date-time }
        location: { type: [string, 'null'], maxLength: 180 }
        address: { type: [string, 'null'], maxLength: 300 }
        map_url: { type: [string, 'null'], format: uri }
        capacity: { type: [integer, 'null'], minimum: 1, maximum: 100000 }
        retention_days: { type: integer, minimum: 30, maximum: 3650 }
  responses:
    Success:
      description: Resposta bem-sucedida
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Envelope' }
    Error:
      description: Erro esperado e seguro
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Envelope' }
